<div class="modal custom-modal fade bank-details" id="add_expenses" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="form-header text-start mb-0">
          <h4 class="mb-0">Create Expense</h4>
        </div>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="bank-inner-details">
          <form method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label>Expense Type</label>
                  {{ form.expense_type }}
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label>Date</label>
                  {{ form.date }}
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label>Amount</label>
                  {{ form.amount }}
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label>Description</label>
                  {{ form.description }}
                </div>
              </div>
     
  

            </div>
            <div class="modal-footer">
              <div class="bank-details-btn">
                <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn bank-cancel-btn me-2">Cancel</a>
                <button type="submit" class="btn bank-save-btn">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
