{% extends 'base.html' %} {% load static %} {% block content %}
<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Invoices</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a></li>
            <li class="breadcrumb-item active">Invoices</li>
          </ul>
        </div>
        <div class="col-auto">
          <a href="{% url 'add_invoice' %}" class="btn btn-primary me-1">
            <i class="fas fa-plus"></i>
          </a>
   
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-center table-hover datatable">
                <thead class="thead-light">
                  <tr>
                    <th>Invoice ID</th>
                    <th>Customer</th>
                    <th>Total Amount</th>
                    <th>Paid Amount</th>
                    <th>Due Amount</th>

                    <th>Date</th>
                    <th class="text-end">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for  bills in  invoices %}

                  <tr>
                    <td><a href="{% url 'get_invoice' bills.id %}">#{{bills.id}}</a></td>
                    <td>
                      <h2 class="table-avatar">
                        <a href="{% url 'get_invoice' bills.id %}"
                          >
                          {{bills.customer.customer_name}}
                          </a
                        >
                      </h2>
                    </td>
                    <td>$                         {{bills.total_amount}}
                    </td>
                    <td>$                         {{bills.paid_amount}}
                    </td>
                    <td>$                         {{bills.due_amount}}
                    </td>
                    <td>{{bills.created_date}}</td>
                    <td class="text-end">
                      <a
                        class="btn btn-sm btn-white me-2"
                        href="{% url 'add_payment' bills.id %}"
                      >
                        <i class="fas si-download me-1"></i> PDF
                      </a>
                      <a class="btn btn-sm btn-white" href="{% url 'get_invoice' bills.id %}">
                        <i class="far fa-eye me-1"></i> View
                      </a>
                    </td>
                  </tr>
     
           
                  {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
